.btn {
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 15px 58px;
  border-radius: 30px;
  margin-top: 25px;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
