.energy__title {
  padding-top: 160px;
  margin-bottom: 40px;
}

.energy__num {
  font-size: 210px;
  font-weight: 700;
  margin-bottom: 40px;
}

.energy__text {
  max-width: 400px;
  margin: 0 auto;
}
