.main__title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
}

.title {
  font-size: 210px;
  font-weight: 700;
  position: absolute;
  padding-top: 110px;
}

.title--pod {
  position: relative;
  z-index: -1;
}

.title--s {
  display: inline-block;
  transform: translateY(60px);
}

.title--m {
  display: inline-block;
  transform: translate(-110px, 450px);
}

.title--ax {
  display: inline-block;
  transform: translate(-130px, 510px);
  position: relative;
  z-index: -1;
}
